<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inspiringbits.me.cleanscene">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="Clean Scene" />
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewReportActivity"
            android:label="@string/new_report_title"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.NewReportActivity_2"
            android:label="@string/new_report_title"
            android:parentActivityName=".activity.MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgTQCV5KhjHD0oPHmfAf4w522pMgJPV5I" />

        <activity
            android:name=".activity.ViewReportsOnMapActivity"
            android:label="@string/report_map_title"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.ReportDetailActivity"
            android:label="Incident Report"
            android:parentActivityName=".activity.ViewReportsOnMapActivity" />
        <activity
            android:name=".activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_picture"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.VolunteerCentreActivity"
            android:label="Volunteer"
            android:parentActivityName=".activity.MainActivity" />

        <activity android:name=".activity.MyReportActivity"
            android:label="My Reports"
            android:parentActivityName=".activity.MainActivity"
            ></activity>
    </application>

</manifest>