<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inspiringbits.me.cleanscene">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.MainActivity"
            android:label="Clean Scene" />
        <activity android:name=".activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewReportActivity"
            android:label="@string/new_report_title"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.NewReportActivity_2"
            android:label="@string/new_report_title"
            android:parentActivityName=".activity.MainActivity_2" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgTQCV5KhjHD0oPHmfAf4w522pMgJPV5I" />

        <activity
            android:name=".activity.ViewReportsOnMapActivity"
            android:label="@string/report_map_title"
            android:parentActivityName=".activity.MainActivity_2" />
        <activity
            android:name=".activity.ReportDetailActivity"
            android:label="Incident Report"
            android:parentActivityName=".activity.ViewReportsOnMapActivity" />
        <activity
            android:name=".activity.PictureActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_picture"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".activity.VolunteerCentreActivity"
            android:label="Volunteer Centres"
            android:parentActivityName=".activity.VolunteerMenuActivity" />
        <activity
            android:name=".activity.MyReportActivity"
            android:label="My Reports"
            android:parentActivityName=".activity.MainActivity_2" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="me.inspiringbits"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.MainActivity_2"
            android:label="@string/title_activity_main_2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login"
            android:parentActivityName=".activity.MainActivity_2" />
        <activity
            android:name=".activity.NewVolunteeringActivity"
            android:label="Create Activity"
            android:parentActivityName=".activity.VolunteerMenuActivity" />
        <activity
            android:name=".activity.FindVolunteeringActivity"
            android:label="Find Activity"
            android:parentActivityName=".activity.VolunteerMenuActivity" />
        <activity
            android:name=".activity.VolunteeringDetailActivity"
            android:label="@string/title_activity_volunteering_detail"
            android:parentActivityName=".activity.VolunteerMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <data android:scheme="cleanscene" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="Profile"
            />
        <activity
            android:name=".activity.VolunteerMenuActivity"
            android:label="Volunteer"
            android:parentActivityName=".activity.MainActivity_2" />
        <activity
            android:name=".activity.MyVolunteeringActivity"
            android:label="My Volunteer Activity"
            android:parentActivityName=".activity.VolunteerMenuActivity" />
        <activity android:name=".activity.AboutUsActivity"
            android:parentActivityName=".activity.MainActivity_2"
            android:label="About Us"></activity>
    </application>

</manifest>